#paybookbtn{
	cursor: pointer;
}
.bookpage{
	margin-left: 20%
}
#reservation-btn{
	cursor: pointer;
}
#roomimg{
	width: 20vw;
	height: 20vh;
}
#roomlist{
	display: flex;
	padding: 0 5vw;
	
}
#roomlistimg{
	flex: 1;
}
#roomlistinfo{
	line-height :20vh;
	flex: 1;
}
#roomlistbtn{
	line-height :20vh;
	flex: 1;
}
#booklistbtn{
	cursor: pointer;
}
#payarea{
	width : 40vw;
	display: flex;
	float: right;
	margin-bottom: 1.5vh
}
#userlevelinfo{
	flex: 1;
	line-height: 5vh;
}
#roomnameinfo{
	flex: 1;
	line-height: 5vh;
}
#roomtotalpayinfo{
	flex: 1;
	line-height: 5vh;
}
#paybtninfo{
	flex: 1;
	margin-right: 7vw;
	margin-left: 2vw;
}
#bookpage{
	overflow : hidden;
	background-color: white;
	width: 100vw;
	min-height: 71vh;
	padding-top: 8vh;
}