#paybookbtn {
	cursor: pointer;
}

.bookpage {
	margin-left: 20%
}

#reservation-btn {
	cursor: pointer;
}

#roomimg {
	width: 20vw;
	height: 20vh;
}

#roomlist {
	display: flex;
	padding: 0 5vw;
}

#roomlistimg {
	flex: 1;
}

#roomlistinfo {
	line-height: 20vh;
	flex: 1;
}

#roomlistbtn {
	line-height: 20vh;
	flex: 1;
}

#booklistbtn {
	cursor: pointer;
}

#payarea {
	width: 40vw;
	display: flex;
	float: right;
	margin-bottom: 1.5vh
}

#userlevelinfo {
	flex: 1;
	line-height: 5vh;
}

#roomnameinfo {
	flex: 1;
	line-height: 5vh;
}

#roomtotalpayinfo {
	flex: 1;
	line-height: 5vh;
}

#paybtninfo {
	flex: 1;
	margin-right: 7vw;
	margin-left: 2vw;
}
.chekboox{
	position: relative;
	top: 10px;
	margin: 0 0;
	}
#bookpage {
	overflow: hidden;
	background-color: white;
	width: 100%;
	min-height: 71vh;
	padding-top: 8vh;
}

#dinnerbook {
	cursor: pointer;
}

#bookpeople {
	width: 3vw;
}

#booker, #booktel {
	text-align: right;
}

#myroomlisttable{
	min-height: 140vh;
}



#mybookPage_article {
	height: 50vh;
	width: 50vw;
	position: absolute;
	left: 35vw;
	margin-top: 19vh;
	overflow: hidden;
}
#dinnerbookmain {
	height: 120vh;
}
#mybookPage_page{
	height: 70.9vh;
	width: 100%;
	position: relative;
	overflow: hidden;
}
#inputdiv * {
	margin-left: 10px;
}

#reservation-hotelinfo * {
	margin-left: 10px;
}

.orderDetail {
	height: 699px;
}

.orderDetail-page {
	height: 618px;
}
.detail-title{
	text-align: center;
	font-size: 30px
}
.detailOrder {
	position: relative;
	top: 10px;
}

.orderDetail-title {
	height: 50px;
	border-bottom: 1px solid #D8D8D8;
	text-align: center;
	
}
#bookdetail *{
	height: 30px
}
#bookdetail td *{
	margin-left: 30px;
}
#bookDetail-footer {
	background-color: #f1e3c4;
	width: 100%;
	height: 80px;
}
#booker{
	width: 65px;
}
#username{
	width: 100px;
}
#mybooktable thead {
	display:block;
	background: #a88;
	color:#fff;
}

#mybooktable tbody{
	max-height: 20vh;
	display:block;
	overflow:auto;
}
#mybookpagetbody{
	height: 20vh;
	overflow-y: scroll;

}
.bookDetail-logo img {
	width: 100px;
	height: 80px;
}

#mydinnerapge_page{
	width: 100%;
	height: 70.9vh;
	background-color: white;
	overflow: hidden;
	margin: 0 auto;
	padding: 0 0;
}
#mypage_dinnerbook{
	width: 50vw;
	position: relative;
	left: 35vw;
	margin-top: 10vh;
	overflow: hidden;
}