/*명품관 상품 주문*/
/*orderList*/
.td-height {
	line-height: 40px;
}

.orderListThead tr th{
	color: black;
}
 
 .orderListTbody tr {
 	color : black;
 }
 
 .orderItemName {
 	color: black;
 }
 
.orderList_page {
  width: 100%;
  height: 70.4vh;
  background-color: white;
  overflow: hidden;
  margin:0 auto;
  padding: 0 auto;
}

.orderList_article {
    width: 49vw;
    position: absolute;
    left: 35vw;
    margin-top: 10vh;
    overflow: hidden;
}

#tableDiv {
	max-height: 40vh;
	overflow-y: scroll;
	margin-top: 4vh;
}

.orderListThead {
	position: sticky;	
	top:0vh;
	background-color: #f1e3c4;
}


.orderList_page-1 {
	width: 100%;
	height: 70.4vh;
	overflow-y: hidden;
}

#orderListHead {
  width: 80vw;
  position: relative;
  padding: 0.1vw 0.5vh 0 0;
  border-bottom: 0.4rem solid #a1886f;
  top: 6vh;
  margin:0 auto;
  color: #9e774c;
}

.orderListToolbar-1 {
	font-size: 12px;
    width: 30.5vw;
    position: relative;
    left: 48vw;
    color: black;
    bottom: 10px;
}

.orderList_article-1 {
	width: 80vw;
	height: 70.4vh;
	margin: auto;
	
}

#tableDiv-1 {
	max-height: 40vh;
	overflow-y: scroll;
	margin-top: 10vh;
}

.orderListThead-1 {
	position: sticky;	
	top:0vh;
	background-color: #f1e3c4;
}

.orderListThead-1 tr th {
	color: black;
}

/* 다크모드 */
.dark-mode .orderList_page {
	background-color: rgb(20, 20, 20);
  }

.dark-mode .orderListTbody, .dark-mode .orderItemName a {
	color : white;
}

.dark-mode #orderListTbody-1, .dark-mode #orderListTbody-1 a {
	color : white;
}
.dark-mode .orderListToolbar-1 {
	color : white;
}
.dark-mode .orderListThead-1, .dark-mode .orderListThead-1 th {
	color : white;
	background-color : #212529;
}
.dark-mode .orderCancel-btn {
	color:white;
	border-color: white;
}

.dark-mode #orderListHead {
	color : #d5ccb0;
}
.dark-mode .orderDetailCancel-btn {
	color: white;
	border-color: white;
}
.dark-mode .orderDetail-page {
	background-color: rgb(20, 20, 20);
}
.dark-mode #orderDetailItem tr {
	color : white;
}

/*orderDetail*/
.orderDetail-tr th td {
	color: black;
}

.orderDetail {
	height: 699px;
}
 	
.orderDetail-page {
	height: 621.5px;
}
#orderDetail-article {
	height: 620px;
}
 	
.detailOrder {
 	position: relative;
 	top: 10px;
}
 	
.orderDetail-title {
 	height: 50px;	
 	border-bottom: 1px solid #D8D8D8;
}
 	
.orderDetail-title span {
	font-size: 25px;
    position: relative;
    left: 220px;
    line-height: 50px;
}
 	
 	
.detail-title span{
 	position: relative;
 	left: 5px;
 	font-size: 20px;
}
 	
.ordercancle button{
 	position: relative;	
 	width: 100px;
 	left: 480px;
    top: -5px;
}

.orderItem-img {
    text-align: center;
    margin: 5px auto;
}