/*관리자 루트페이지*/
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: bold;
}

.managment {
  overflow: hidden;
  background-color: black;
  width: 1903px;
  margin: 0;
}

#nav1 {
  margin: auto;
  position: relative;
}

#nav2 {
  margin: auto;
  position: relative;
}

#headerAndnav {
  width: 1903px;
  height: 87.2px;
  margin: 0;
  padding: 0;
  background-color: #f1e3c4;
}

#logo img {
  position: relative;
  width: 288px;
  height: 87.2px;
  right: 25px;
}

.hd {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 14px;
}

#textcolor{
  color: #0000008C;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

#colorchange {
  color: #0000008C;
}

#asidearea{
  height: 2000px;
  width: 250px;
  background-color: blue;
  margin: 0;
  float: left;
}

#asidemenu{
  height: 300px;
  background-color: gray;
  padding-top: 30px;
  text-align: center;
}

#asidemenu ul{
    padding: 0;
    list-style-type: none;
}

#asidemenu li {
  height: 50px;
  line-height: 50px;
}

#asidemenu li:hover, #asidemenu li a:hover {
  color: white;
  background-color: cornflowerblue;
}

#listthead tr th{
  text-align: center;
}

 #managmentmain{
    height: 2000px;
    background-color: red;
    overflow: hidden;
    width: 1903px;
    margin-right: 0;
  }

#searcharea{
  height: 70px;
  background-color: darkgreen;
  text-align: center;
  padding: 17px 0;
}

#listarea{
  float: left;
  background-color: silver;
  height: 2000px;
  width: 1653px;
  padding-left: 30px;
  padding-right: 40px;
}

#list{
  width: 1653px;
  height: 2000px;
  background-color: tomato;
  float: left;
}

  
 