*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: bold;
  }
  .managment {
    overflow: hidden;
    background-color: white;
    width: 100vw;
  }
  #nav1 {
    margin: auto;
    position: relative;
    left: 10vw;
  }
  #nav2 {
    margin: auto;
    position: relative;
    right: 3vw;
  }
  #i1 {
    margin: auto;
    position: relative;
    right: 2vw;
  }
  #i2 {
    margin: auto;
    position: relative;
    left: 10vh;
  }
  #i3 {
    margin: auto;
    position: relative;
    right: 9vw;
  }
  #i4 {
    margin: auto;
    position: relative;
    right: 4vw;
  }
  #headerAndnav {
    width: 100vw;
    height: 9vh;
  }
  #div_logo{
    margin:0 auto;
    position: relative;
    left: 1vw;
  }
  #logo img {
    width: 15vw;
    height: 9vh;
    
  }


  

 
  .navul1 {
    position: relative;
    top: 1vw;
  }
  .navul2 {
    position: relative;
    top: 1vw;
  }
  
  .hd {
    position: absolute;
    left: 90vw;
    bottom: 5vh;
    font-size: 0.7vw;
  }
  #headerAndnav span {
    position: absolute;
    bottom: 6.5vh;
    left: 1.5vw;
    font-size: 0.6vw;
  }
  .dropdown-menu {
    background-color: gray;
    font-weight: bold;
    font-size: 0.7vw;
  }
  .dropdown-item {
    font-weight: bold;
    color: white;
  }
  #headerAndnav {
    background-color: #f1e3c4;
  }
  #textcolor{
    color: #0000008C;
    margin: 0;
    padding: 0 0.8vh;
    border: 0;
    text-decoration: no;
  }
  #colorchange {
    color: #0000008C;
  }

 #asidearea{
  height: 2000px;
  width: 250px;
  background-color: red;
  margin: 0 0;
  float: left;
 }

 #asidemenu{
  height: 300px;
  background-color: gray;
  padding-top: 30px;

  text-align: center;
 }
  #asidemenu ul{
    padding: 0;
    list-style-type: none;
 }

 #asidemenu li {

  margin-bottom: 30px;
 }
#listthead tr th{
  text-align: center;
}

 #managmentmain{
    height: 2000px;
    background-color: red;
    overflow: hidden;
  }

#searcharea{
  height: 70px;
  background-color: darkgreen;
  text-align: center;
  padding: 17px 0;
}

#listarea{
  float: left;
  background-color: silver;
  height: 2000px;
  width: 1670px;
  padding-left: 30px;
  padding-right: 40px;
}
#list{
  width: 1670px;
  height: 2000px;
  background-color: tomato;
  float: left;
}
  
  
  
  
  
  
 