<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hotel.management.v1.client.book.dao.bookDao">
	
	<select id="findRoomFromAndTo" resultType="hotel.management.v1.client.book.dto.bookDto$findRoom">
		SELECT r.gradename, COUNT(*) - (
  SELECT COUNT(*)
  FROM roombooking
  WHERE bookroomgrade = r.gradename and (roombooking.checkin &lt; to_date(#{from},'MM/DD/YYYY') and roombooking.checkout &gt; to_date(#{to},'MM/DD/YYYY'))
) AS reservableornot
FROM room r
GROUP BY r.gradename
	</select>
	<insert id="addBook">
			insert into book values(BOOK_SEQ_BOOKNO.nextval,#{username},#{totalcnt},to_date(#{from},'MM/DD/YYYY'),#{booktel},#{booker},'체크인대기')	
	</insert>
	<insert id = "addRoomBooking">
			insert into roombooking select b.bookno,b.bookdate,to_date(#{checkOut},'MM/DD/YYYY'),#{bfcheckbox},null,#{gradename} from book b where b.username = #{username}
	</insert>
	<insert id="addDinner">
			insert into book values(BOOK_SEQ_BOOKNO.nextval,#{username},#{totalcnt},to_date(#{bookdate},'MM/DD/YYYY'),#{booktel},#{booker},'체크인대기')
	</insert>
	<insert id="addDinnerbook">
		insert into dinner select b.bookno,b.totalcount,120000 from book b where b.username = #{username} and b.bookno = #{resno}
	</insert>
	<select id = "findByUsernameAndBookdate" resultType="int">
		select b.bookno from book b where username = #{username} and  bookdate = to_date(#{bookdate},'MM/DD/YYYY')
	</select>
</mapper>