<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hotel.management.v1.manager.dao.ManagerDao">
    <select id="findBookList" resultType="hotel.management.v1.manager.dto.ManagerDto$findBookList">
        select * 
        from booklist 
        WHERE TRUNC(checkout) = TRUNC(sysdate) or TRUNC(bookDate) = TRUNC(sysdate)
    </select>


    <select id="findUserList" resultType="hotel.management.v1.manager.dto.ManagerDto$findUserList">
        select name , tel , email , username, black , vip from users where name LIKE '%' || #{name} || '%'
    </select>

    <update id="bookCancel">
        UPDATE book
        SET bookStatus = '예약취소'
        WHERE bookTel = #{tel}
    </update>

    <select id="findBookNoByTel" resultType="int">
        select bookNo from book where booktel = #{tel} and bookStatus='체크인대기'
    </select>

    <update id="checkOut">
        UPDATE book
        SET bookStatus = '체크아웃완료'
        WHERE bookTel = #{tel}
    </update>

    <select id="findBookNoCountByTel" resultType="hotel.management.v1.manager.dto.ManagerDto$findBookNoCount">
        select bookNo , totalCount from book where bookTel = #{tel}
    </select>

    <update id="updateBreakfast">
        UPDATE roombooking
        SET breakfast = 1
        WHERE bookNo = #{bookNo}
    </update>

    <update id="cancelBreakfast">
        UPDATE roombooking
        SET breakfast = 0
        WHERE bookNo = #{bookNo}
    </update>

    <insert id="updateDinner">
        insert into dinner values(#{bookNo} , #{totalCount} , 333)
    </insert>

    <update id="cancelDinner">
        delete from dinner where resno = #{bookNo}
    </update>

    <select id="roomList" resultType="hotel.management.v1.manager.dto.ManagerDto$roomList">
        select * from room where gradeName = #{roomGrade}
    </select>

    <update id="setRoom">
        UPDATE roombooking 
        SET roomNo = #{roomNo}
        WHERE bookNo = #{bookNo}
    </update>

    <update id="changeBookStatus">
        UPDATE book
        SET bookStatus = '체크인완료'
        WHERE bookNo = #{bookNo}
    </update>
    
    <update id="changeRoomStatusCheckIn">
        update room
        set roomStatus = '체크인'
        where roomNo = #{roomNo}
    </update>

    <update id="changeRoomStatusEmpty">
        update room
        set roomStatus = '비어있음'
        where roomNo = #{roomNo}
    </update>

    <select id="memberDetail" resultType="hotel.management.v1.manager.dto.ManagerDto$userDetail">
        select username , name , tel , email , personalId , disabled , userLevel ,bookCnt,black,vip from users where name = #{name}
    </select>

    <update id="blackBtn">
        update users
        set black = case when black = 1 then 0 else 1 end
        where name = #{name}
    </update>

    <update id="vipBtn">
        update users
        set vip = case when vip = 1 then 0 else 1 end
        where name = #{name}
    </update>

    <update id="ableBtn">
        update users
        set disabled = case when disabled = 1 then 0 else 1 end
        where name = #{name}
    </update>

 
    <select id="bookSearch" resultType="hotel.management.v1.manager.dto.ManagerDto$findBookList">
    select *
    from (
select *
        from (select *
            from (select *
                 from (select * from bookList) 
                    <where>
                         <if test="isStay == true">
                            bookNo = rbBookNo
                         </if>
                         <if test="isRestaurant == true">
                            resNo is not null
                         </if>
                    </where>)
            <where>
                <if test="todayCheckBox == true">
                    TRUNC(bookDate) = TRUNC(sysdate)
                </if>
                <if test="fromDate =='' and todayCheckBox == false">
                    TRUNC(bookDate) = TRUNC(sysdate)
                </if>
                <if test="fromDate != '' and toDate == '' and todayCheckBox == false">
                    bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD')
                </if>
                <if test="fromDate != '' and toDate != '' and todayCheckBox == false">
                    bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD')
                </if>
            </where>)
         <where>
             <choose>
                    <when test="listType==1"></when>
                    <when test="listType==2">bookStatus = '체크인대기'</when>
                    <when test="listType==3">bookStatus = '체크인완료'</when>
                    <when test="listType==4">bookStatus = '체크아웃완료'</when>
                    <when test="listType==5">breakfast = 1</when>
                    <when test="listType==6">resno is not null</when>
             </choose>
            </where>
        )

    <where>
            <if test="roomNum == 0 and name == ''">
            </if>
            <if test="roomNum != 0 and name == ''">
                roomNo = #{roomNum}
            </if>
            <if test="roomNum == 0 and name != ''">
                booker LIKE '%' || #{name} || '%'
            </if>
            <if test="roomNum != 0 and name != ''">
                booker LIKE '%' || #{name} || '%' and roomNo = #{roomNum}
            </if>
    </where>
    </select>
</mapper>