<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hotel.management.v1.manager.dao.ManagerDao">
    <select id="findBookList" resultType="hotel.management.v1.manager.dto.ManagerDto$findBookList">
        select * from booklist
    </select>


    <select id="findUserList" resultType="hotel.management.v1.manager.dto.ManagerDto$findUserList">
        select name , tel , email , username, black , vip from users where name LIKE '%' || #{name} || '%'
    </select>

    <update id="bookCancel">
        UPDATE book
        SET bookStatus = '예약취소'
        WHERE bookTel = #{tel}
    </update>

    <select id="findTelByName" resultType="string">
        select bookTel from book where booker = #{name}

    </select>

    <update id="checkOut">
        UPDATE book
        SET bookStatus = '체크아웃완료'
        WHERE bookTel = #{tel}
    </update>

    <select id="findBookNoCountByTel" resultType="hotel.management.v1.manager.dto.ManagerDto$findBookNoCount">
        select bookNo , totalCount from book where bookTel = #{tel}
    </select>

    <update id="updateBreakfast">
        UPDATE roombooking
        SET breakfast = #{bookNo}
        WHERE bookNo = #{bookNo}
    </update>

    <update id="cancelBreakfast">
        UPDATE roombooking
        SET breakfast = 0
        WHERE bookNo = #{bookNo}
    </update>

    <insert id="updateDinner">
        insert into dinner values(#{bookNo} , #{totalCount} , 333)
    </insert>

    <update id="cancelDinner">
        delete from dinner where resno = #{bookNo}
    </update>

    <select id="roomList" resultType="hotel.management.v1.manager.dto.ManagerDto$roomList">
        select * from room where gradeName = #{roomGrade}
    </select>

    <select id="findBookNoByName" resultType="int">
        select bookNo from book where booker = #{name}
    </select>

    <update id="setRoom">
        UPDATE roombooking 
        SET roomNo = #{roomNo}
        WHERE bookNo = #{bookNo}
    </update>

    <update id="changeBookStatus">
        UPDATE book
        SET bookStatus = '체크인완료'
        WHERE bookNo = #{bookNo}
    </update>

    <update id="changeRoomStatus">
        update room
        set roomStatus ='비어있음'
        where roomNo = #{roomNo}
    </update>

    <select id="memberDetail" resultType="hotel.management.v1.manager.dto.ManagerDto$userDetail">
        select username , name , tel , email , personalId , disabled , userLevel ,bookCnt,black,vip from users where name = #{name}
    </select>
</mapper>