<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hotel.management.v1.manager.dao.ManagerDao">
    <select id="findBookList" resultType="hotel.management.v1.manager.dto.ManagerDto$findBookList">
        select * from booklist WHERE TRUNC(checkin) = TRUNC(sysdate) OR TRUNC(checkout) = TRUNC(sysdate)
    </select>


    <select id="findUserList" resultType="hotel.management.v1.manager.dto.ManagerDto$findUserList">
        select name , tel , email , username, black , vip from users where name LIKE '%' || #{name} || '%'
    </select>

    <update id="bookCancel">
        UPDATE book
        SET bookStatus = '예약취소'
        WHERE bookTel = #{tel}
    </update>

    <select id="findBookNoByTel" resultType="int">
        select bookNo from book where booktel = #{tel} and bookStatus='체크인대기'
    </select>

    <update id="checkOut">
        UPDATE book
        SET bookStatus = '체크아웃완료'
        WHERE bookTel = #{tel}
    </update>

    <select id="findBookNoCountByTel" resultType="hotel.management.v1.manager.dto.ManagerDto$findBookNoCount">
        select bookNo , totalCount from book where bookTel = #{tel}
    </select>

    <update id="updateBreakfast">
        UPDATE roombooking
        SET breakfast = 1
        WHERE bookNo = #{bookNo}
    </update>

    <update id="cancelBreakfast">
        UPDATE roombooking
        SET breakfast = 0
        WHERE bookNo = #{bookNo}
    </update>

    <insert id="updateDinner">
        insert into dinner values(#{bookNo} , #{totalCount} , 333)
    </insert>

    <update id="cancelDinner">
        delete from dinner where resno = #{bookNo}
    </update>

    <select id="roomList" resultType="hotel.management.v1.manager.dto.ManagerDto$roomList">
        select * from room where gradeName = #{roomGrade}
    </select>

    <update id="setRoom">
        UPDATE roombooking 
        SET roomNo = #{roomNo}
        WHERE bookNo = #{bookNo}
    </update>

    <update id="changeBookStatus">
        UPDATE book
        SET bookStatus = '체크인완료'
        WHERE bookNo = #{bookNo}
    </update>
    
    <update id="changeRoomStatusCheckIn">
        update room
        set roomStatus = '체크인'
        where roomNo = #{roomNo}
    </update>

    <update id="changeRoomStatusEmpty">
        update room
        set roomStatus = '비어있음'
        where roomNo = #{roomNo}
    </update>

    <select id="memberDetail" resultType="hotel.management.v1.manager.dto.ManagerDto$userDetail">
        select username , name , tel , email , personalId , disabled , userLevel ,bookCnt,black,vip from users where name = #{name}
    </select>

    <update id="blackBtn">
        update users
        set black = case when black = 1 then 0 else 1 end
        where name = #{name}
    </update>

    <update id="vipBtn">
        update users
        set vip = case when vip = 1 then 0 else 1 end
        where name = #{name}
    </update>

    <update id="ableBtn">
        update users
        set disabled = case when disabled = 1 then 0 else 1 end
        where name = #{name}
    </update>

    <select id="bookSearch" resultType="hotel.management.v1.manager.dto.ManagerDto$findBookList">
        SELECT DISTINCT b.booker, b.booktel, b.totalCount , rb.roomno, b.bookdate, rb.bookroomgrade, rb.checkin, rb.checkout, rb.breakfast, d.resno, b.bookstatus
        FROM book b
        LEFT JOIN dinner d ON d.resno = b.bookno
        LEFT JOIN roombooking rb ON rb.bookno = b.bookno
        <where>
            <if test="isStay == false and isRestaurant == false">
                <if test="fromDate ==''">
                    <if test="roomNum == 0 and name == ''">
                        <choose>
                            <when test="listType==1">TRUNC(b.bookDate) = TRUNC(sysdate) </when>
                            <when test="listType==2">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인대기'</when>
                            <when test="listType==3">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인완료'</when>
                            <when test="listType==4">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크아웃완료'</when>
                            <when test="listType==5">TRUNC(b.bookDate) = TRUNC(sysdate) and rb.breakfast = 1</when>
                            <when test="listType==6">TRUNC(b.bookDate) = TRUNC(sysdate) and d.resno is not null</when>
                        </choose>
                    </if>
                    <if test="roomNum != 0 and name == ''">
                        <choose>
                            <when test="listType==1">TRUNC(b.bookDate) = TRUNC(sysdate) and rb.roomNo = #{roomNum} </when>
                            <when test="listType==2">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인대기' and rb.roomNo = #{roomNum}</when>
                            <when test="listType==3">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인완료' and rb.roomNo = #{roomNum}</when>
                            <when test="listType==4">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크아웃완료' and rb.roomNo = #{roomNum}</when>
                            <when test="listType==5">TRUNC(b.bookDate) = TRUNC(sysdate) and rb.breakfast = 1 and rb.roomNo = #{roomNum}</when>
                            <when test="listType==6">TRUNC(b.bookDate) = TRUNC(sysdate) and d.resno is not null and rb.roomNo = #{roomNo}</when>
                        </choose>
                    </if>
                    <if test="roomNum == 0 and name != ''">
                        <choose>
                            <when test="listType==1">TRUNC(b.bookDate) = TRUNC(sysdate) and b.booker = #{name} </when>
                            <when test="listType==2">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인대기' and b.booker = #{name}</when>
                            <when test="listType==3">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인완료' and b.booker = #{name}</when>
                            <when test="listType==4">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크아웃완료' and b.booker = #{name}</when>
                            <when test="listType==5">TRUNC(b.bookDate) = TRUNC(sysdate) and rb.breakfast = 1 and b.booker = #{name}</when>
                            <when test="listType==6">TRUNC(b.bookDate) = TRUNC(sysdate) and d.resno is not null and b.booker = #{name}</when>
                        </choose>
                    </if>
                </if>
                <if test="fromDate != '' and toDate == ''">
                    <if test="roomNum == 0 and name == ''">
                        <choose>
                            <when test="listType==1">b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') </when>
                            <when test="listType==2">b.bookStatus = '체크인대기' and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD')</when>
                            <when test="listType==3">b.bookStatus = '체크인완료' and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD')</when>
                            <when test="listType==4">b.bookStatus = '체크아웃완료' and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD')</when>
                            <when test="listType==5">rb.breakfast = 1 and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD')</when>
                            <when test="listType==6">d.resno is not null and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD')</when>
                        </choose>
                    </if>
                    <if test="roomNum != 0 and name == ''">
                        <choose>
                            <when test="listType==1">rb.roomNo = #{roomNum} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') </when>
                            <when test="listType==2">b.bookStatus = '체크인대기' and rb.roomNo = #{roomNum} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD')</when>
                            <when test="listType==3">b.bookStatus = '체크인완료' and rb.roomNo = #{roomNum} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD')</when>
                            <when test="listType==4">b.bookStatus = '체크아웃완료' and rb.roomNo = #{roomNum} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD')</when>
                            <when test="listType==5">rb.breakfast = 1 and rb.roomNo = #{roomNum} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD')</when>
                            <when test="listType==6">d.resno is not null and rb.roomNo = #{roomNo} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD')</when>
                        </choose>
                    </if>
                    <if test="roomNum == 0 and name != ''">
                        <choose>
                            <when test="listType==1">b.booker = #{name} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') </when>
                            <when test="listType==2">b.bookStatus = '체크인대기' and b.booker = #{name} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD')</when>
                            <when test="listType==3">b.bookStatus = '체크인완료' and b.booker = #{name} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD')</when>
                            <when test="listType==4">b.bookStatus = '체크아웃완료' and b.booker = #{name} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD')</when>
                            <when test="listType==5">rb.breakfast = 1 and b.booker = #{name} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD')</when>
                            <when test="listType==6">d.resno is not null and b.booker = #{name} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD')</when>
                        </choose>
                    </if>
                </if>
                <if test="fromDate != '' and toDate != ''">
                    <if test="roomNum == 0 and name == ''">
                        <choose>
                            <when test="listType==1">b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') </when>
                            <when test="listType==2">b.bookStatus = '체크인대기' and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD')</when>
                            <when test="listType==3">b.bookStatus = '체크인완료' and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD')</when>
                            <when test="listType==4">b.bookStatus = '체크아웃완료' and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD')</when>
                            <when test="listType==5">rb.breakfast = 1 and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD')</when>
                            <when test="listType==6">d.resno is not null and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD')</when>
                        </choose>
                    </if>
                    <if test="roomNum != 0 and name == ''">
                        <choose>
                            <when test="listType==1">rb.roomNo = #{roomNum} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') </when>
                            <when test="listType==2">b.bookStatus = '체크인대기' and rb.roomNo = #{roomNum} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD')</when>
                            <when test="listType==3">b.bookStatus = '체크인완료' and rb.roomNo = #{roomNum} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD')</when>
                            <when test="listType==4">b.bookStatus = '체크아웃완료' and rb.roomNo = #{roomNum} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD')</when>
                            <when test="listType==5">rb.breakfast = 1 and rb.roomNo = #{roomNum} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD')</when>
                            <when test="listType==6">d.resno is not null and rb.roomNo = #{roomNo} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD')</when>
                        </choose>
                    </if>
                    <if test="roomNum == 0 and name != ''">
                        <choose>
                            <when test="listType==1">b.booker = #{name} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') </when>
                            <when test="listType==2">b.bookStatus = '체크인대기' and b.booker = #{name} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD')</when>
                            <when test="listType==3">b.bookStatus = '체크인완료' and b.booker = #{name} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD')</when>
                            <when test="listType==4">b.bookStatus = '체크아웃완료' and b.booker = #{name} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD')</when>
                            <when test="listType==5">rb.breakfast = 1 and b.booker = #{name} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD')</when>
                            <when test="listType==6">d.resno is not null and b.booker = #{name} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD')</when>
                        </choose>
                    </if>
                </if>
            </if>
            <if test="isStay == false and isRestaurant == true">
                <if test="fromDate ==''">
                    <if test="roomNum == 0 and name == ''">
                        <choose>
                            <when test="listType==1">TRUNC(b.bookDate) = TRUNC(sysdate) and d.resno is not null </when>
                            <when test="listType==2">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인대기' and d.resno is not null</when>
                            <when test="listType==3">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인완료' and d.resno is not null</when>
                            <when test="listType==4">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크아웃완료' and d.resno is not null</when>
                            <when test="listType==5">TRUNC(b.bookDate) = TRUNC(sysdate) and rb.breakfast = 1 and d.resno is not null</when>
                            <when test="listType==6">TRUNC(b.bookDate) = TRUNC(sysdate) and d.resno is not null</when>
                        </choose>
                    </if>
                    <if test="roomNum != 0 and name == ''">
                        <choose>
                            <when test="listType==1">TRUNC(b.bookDate) = TRUNC(sysdate) and rb.roomNo = #{roomNum} and d.resno is not null</when>
                            <when test="listType==2">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인대기' and rb.roomNo = #{roomNum} and d.resno is not null</when>
                            <when test="listType==3">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인완료' and rb.roomNo = #{roomNum} and d.resno is not null</when>
                            <when test="listType==4">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크아웃완료' and rb.roomNo = #{roomNum} and d.resno is not null</when>
                            <when test="listType==5">TRUNC(b.bookDate) = TRUNC(sysdate) and rb.breakfast = 1 and rb.roomNo = #{roomNum} and d.resno is not null</when>
                            <when test="listType==6">TRUNC(b.bookDate) = TRUNC(sysdate) and d.resno is not null and rb.roomNo = #{roomNo}</when>
                        </choose>
                    </if>
                    <if test="roomNum == 0 and name != ''">
                        <choose>
                            <when test="listType==1">TRUNC(b.bookDate) = TRUNC(sysdate) and b.booker = #{name} and d.resno is not null </when>
                            <when test="listType==2">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인대기' and b.booker = #{name} and d.resno is not null</when>
                            <when test="listType==3">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인완료' and b.booker = #{name} and d.resno is not null</when>
                            <when test="listType==4">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크아웃완료' and b.booker = #{name} and d.resno is not null</when>
                            <when test="listType==5">TRUNC(b.bookDate) = TRUNC(sysdate) and rb.breakfast = 1 and b.booker = #{name} and d.resno is not null</when>
                            <when test="listType==6">TRUNC(b.bookDate) = TRUNC(sysdate) and d.resno is not null and b.booker = #{name}</when>
                        </choose>
                    </if>
                </if>
                <if test="fromDate != '' and toDate == ''">
                    <if test="roomNum == 0 and name == ''">
                        <choose>
                            <when test="listType==1">b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==2">b.bookStatus = '체크인대기' and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==3">b.bookStatus = '체크인완료' and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==4">b.bookStatus = '체크아웃완료' and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==5">rb.breakfast = 1 and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==6">d.resno is not null and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD')</when>
                        </choose>
                    </if>
                    <if test="roomNum != 0 and name == ''">
                        <choose>
                            <when test="listType==1">rb.roomNo = #{roomNum} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==2">b.bookStatus = '체크인대기' and rb.roomNo = #{roomNum} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==3">b.bookStatus = '체크인완료' and rb.roomNo = #{roomNum} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==4">b.bookStatus = '체크아웃완료' and rb.roomNo = #{roomNum} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==5">rb.breakfast = 1 and rb.roomNo = #{roomNum} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==6">d.resno is not null and rb.roomNo = #{roomNo} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD')</when>
                        </choose>
                    </if>
                    <if test="roomNum == 0 and name != ''">
                        <choose>
                            <when test="listType==1">b.booker = #{name} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and d.resno is not null </when>
                            <when test="listType==2">b.bookStatus = '체크인대기' and b.booker = #{name} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==3">b.bookStatus = '체크인완료' and b.booker = #{name} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==4">b.bookStatus = '체크아웃완료' and b.booker = #{name} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==5">rb.breakfast = 1 and b.booker = #{name} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==6">d.resno is not null and b.booker = #{name} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD')</when>
                        </choose>
                    </if>
                </if>
                <if test="fromDate != '' and toDate != ''">
                    <if test="roomNum == 0 and name == ''">
                        <choose>
                            <when test="listType==1">b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==2">b.bookStatus = '체크인대기' and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==3">b.bookStatus = '체크인완료' and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==4">b.bookStatus = '체크아웃완료' and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==5">rb.breakfast = 1 and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==6">d.resno is not null and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD')</when>
                        </choose>
                    </if>
                    <if test="roomNum != 0 and name == ''">
                        <choose>
                            <when test="listType==1">rb.roomNo = #{roomNum} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==2">b.bookStatus = '체크인대기' and rb.roomNo = #{roomNum} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==3">b.bookStatus = '체크인완료' and rb.roomNo = #{roomNum} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==4">b.bookStatus = '체크아웃완료' and rb.roomNo = #{roomNum} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==5">rb.breakfast = 1 and rb.roomNo = #{roomNum} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==6">d.resno is not null and rb.roomNo = #{roomNo} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD')</when>
                        </choose>
                    </if>
                    <if test="roomNum == 0 and name != ''">
                        <choose>
                            <when test="listType==1">b.booker = #{name} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==2">b.bookStatus = '체크인대기' and b.booker = #{name} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==3">b.bookStatus = '체크인완료' and b.booker = #{name} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==4">b.bookStatus = '체크아웃완료' and b.booker = #{name} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==5">rb.breakfast = 1 and b.booker = #{name} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and d.resno is not null</when>
                            <when test="listType==6">d.resno is not null and b.booker = #{name} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD')</when>
                        </choose>
                    </if>
                </if>
            </if>
            <if test="isStay == true and isRestaurant == false">
                <if test="fromDate ==''">
                    <if test="roomNum == 0 and name == ''">
                        <choose>
                            <when test="listType==1">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookNo is not null </when>
                            <when test="listType==2">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인대기' and b.bookNo is not null</when>
                            <when test="listType==3">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인완료' and b.bookNo is not null</when>
                            <when test="listType==4">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크아웃완료' and b.bookNo is not null</when>
                            <when test="listType==5">TRUNC(b.bookDate) = TRUNC(sysdate) and rb.breakfast = 1 and b.bookNo is not null</when>
                            <when test="listType==6">TRUNC(b.bookDate) = TRUNC(sysdate) and d.resno is not null and b.bookNo is not null</when>
                        </choose>
                    </if>
                    <if test="roomNum != 0 and name == ''">
                        <choose>
                            <when test="listType==1">TRUNC(b.bookDate) = TRUNC(sysdate) and rb.roomNo = #{roomNum} and b.bookNo is not null</when>
                            <when test="listType==2">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인대기' and rb.roomNo = #{roomNum} and b.bookNo is not null</when>
                            <when test="listType==3">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인완료' and rb.roomNo = #{roomNum} and b.bookNo is not null</when>
                            <when test="listType==4">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크아웃완료' and rb.roomNo = #{roomNum} and b.bookNo is not null</when>
                            <when test="listType==5">TRUNC(b.bookDate) = TRUNC(sysdate) and rb.breakfast = 1 and rb.roomNo = #{roomNum} and b.bookNo is not null</when>
                            <when test="listType==6">TRUNC(b.bookDate) = TRUNC(sysdate) and d.resno is not null and rb.roomNo = #{roomNo} and b.bookNo is not null</when>
                        </choose>
                    </if>
                    <if test="roomNum == 0 and name != ''">
                        <choose>
                            <when test="listType==1">TRUNC(b.bookDate) = TRUNC(sysdate) and b.booker = #{name} and b.bookNo is not null </when>
                            <when test="listType==2">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인대기' and b.booker = #{name} and b.bookNo is not null</when>
                            <when test="listType==3">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인완료' and b.booker = #{name} and b.bookNo is not null</when>
                            <when test="listType==4">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크아웃완료' and b.booker = #{name} and b.bookNo is not null</when>
                            <when test="listType==5">TRUNC(b.bookDate) = TRUNC(sysdate) and rb.breakfast = 1 and b.booker = #{name} and b.bookNo is not null</when>
                            <when test="listType==6">TRUNC(b.bookDate) = TRUNC(sysdate) and d.resno is not null and b.booker = #{name} and b.bookNo is not null</when>
                        </choose>
                    </if>
                </if>
                <if test="fromDate != '' and toDate == ''">
                    <if test="roomNum == 0 and name == ''">
                        <choose>
                            <when test="listType==1">b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==2">b.bookStatus = '체크인대기' and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==3">b.bookStatus = '체크인완료' and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==4">b.bookStatus = '체크아웃완료' and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==5">rb.breakfast = 1 and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==6">d.resno is not null and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                        </choose>
                    </if>
                    <if test="roomNum != 0 and name == ''">
                        <choose>
                            <when test="listType==1">rb.roomNo = #{roomNum} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==2">b.bookStatus = '체크인대기' and rb.roomNo = #{roomNum} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==3">b.bookStatus = '체크인완료' and rb.roomNo = #{roomNum} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==4">b.bookStatus = '체크아웃완료' and rb.roomNo = #{roomNum} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==5">rb.breakfast = 1 and rb.roomNo = #{roomNum} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==6">d.resno is not null and rb.roomNo = #{roomNo} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                        </choose>
                    </if>
                    <if test="roomNum == 0 and name != ''">
                        <choose>
                            <when test="listType==1">b.booker = #{name} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null </when>
                            <when test="listType==2">b.bookStatus = '체크인대기' and b.booker = #{name} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==3">b.bookStatus = '체크인완료' and b.booker = #{name} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==4">b.bookStatus = '체크아웃완료' and b.booker = #{name} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==5">rb.breakfast = 1 and b.booker = #{name} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==6">d.resno is not null and b.booker = #{name} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                        </choose>
                    </if>
                </if>
                <if test="fromDate != '' and toDate != ''">
                    <if test="roomNum == 0 and name == ''">
                        <choose>
                            <when test="listType==1">b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==2">b.bookStatus = '체크인대기' and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==3">b.bookStatus = '체크인완료' and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==4">b.bookStatus = '체크아웃완료' and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==5">rb.breakfast = 1 and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==6">d.resno is not null and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                        </choose>
                    </if>
                    <if test="roomNum != 0 and name == ''">
                        <choose>
                            <when test="listType==1">rb.roomNo = #{roomNum} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==2">b.bookStatus = '체크인대기' and rb.roomNo = #{roomNum} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==3">b.bookStatus = '체크인완료' and rb.roomNo = #{roomNum} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==4">b.bookStatus = '체크아웃완료' and rb.roomNo = #{roomNum} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==5">rb.breakfast = 1 and rb.roomNo = #{roomNum} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==6">d.resno is not null and rb.roomNo = #{roomNo} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                        </choose>
                    </if>
                    <if test="roomNum == 0 and name != ''">
                        <choose>
                            <when test="listType==1">TRUNC(b.bookDate) = TRUNC(sysdate) and b.booker = #{name} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==2">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인대기' and b.booker = #{name} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==3">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인완료' and b.booker = #{name} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==4">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크아웃완료' and b.booker = #{name} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==5">TRUNC(b.bookDate) = TRUNC(sysdate) and rb.breakfast = 1 and b.booker = #{name} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                            <when test="listType==6">TRUNC(b.bookDate) = TRUNC(sysdate) and d.resno is not null and b.booker = #{name} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                        </choose>
                    </if>
                </if>
            </if>
            <if test="isStay == true and isRestaurant == true">
                <if test="fromDate ==''">
                    <if test="roomNum == 0 and name == ''">
                        <choose>
                            <when test="listType==1">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookNo is not null and d.resno is not null </when>
                            <when test="listType==2">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인대기' and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==3">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인완료' and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==4">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크아웃완료' and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==5">TRUNC(b.bookDate) = TRUNC(sysdate) and rb.breakfast = 1 and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==6">TRUNC(b.bookDate) = TRUNC(sysdate) and d.resno is not null and b.bookNo is not null</when>
                        </choose>
                    </if>
                    <if test="roomNum != 0 and name == ''">
                        <choose>
                            <when test="listType==1">TRUNC(b.bookDate) = TRUNC(sysdate) and rb.roomNo = #{roomNum} and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==2">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인대기' and rb.roomNo = #{roomNum} and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==3">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인완료' and rb.roomNo = #{roomNum} and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==4">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크아웃완료' and rb.roomNo = #{roomNum} and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==5">TRUNC(b.bookDate) = TRUNC(sysdate) and rb.breakfast = 1 and rb.roomNo = #{roomNum} and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==6">TRUNC(b.bookDate) = TRUNC(sysdate) and d.resno is not null and rb.roomNo = #{roomNo} and b.bookNo is not null</when>
                        </choose>
                    </if>
                    <if test="roomNum == 0 and name != ''">
                        <choose>
                            <when test="listType==1">TRUNC(b.bookDate) = TRUNC(sysdate) and b.booker = #{name} and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==2">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인대기' and b.booker = #{name} and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==3">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크인완료' and b.booker = #{name} and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==4">TRUNC(b.bookDate) = TRUNC(sysdate) and b.bookStatus = '체크아웃완료' and b.booker = #{name} and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==5">TRUNC(b.bookDate) = TRUNC(sysdate) and rb.breakfast = 1 and b.booker = #{name} and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==6">TRUNC(b.bookDate) = TRUNC(sysdate) and d.resno is not null and b.booker = #{name} and b.bookNo is not null</when>
                        </choose>
                    </if>
                </if>
                <if test="fromDate != '' and toDate == ''">
                    <if test="roomNum == 0 and name == ''">
                        <choose>
                            <when test="listType==1">b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==2">b.bookStatus = '체크인대기' and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==3">b.bookStatus = '체크인완료' and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==4">b.bookStatus = '체크아웃완료' and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==5">rb.breakfast = 1 and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==6">d.resno is not null and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                        </choose>
                    </if>
                    <if test="roomNum != 0 and name == ''">
                        <choose>
                            <when test="listType==1">rb.roomNo = #{roomNum} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==2">b.bookStatus = '체크인대기' and rb.roomNo = #{roomNum} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==3">b.bookStatus = '체크인완료' and rb.roomNo = #{roomNum} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==4">b.bookStatus = '체크아웃완료' and rb.roomNo = #{roomNum} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==5">rb.breakfast = 1 and rb.roomNo = #{roomNum} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==6">d.resno is not null and rb.roomNo = #{roomNo} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                        </choose>
                    </if>
                    <if test="roomNum == 0 and name != ''">
                        <choose>
                            <when test="listType==1">b.booker = #{name} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==2">b.bookStatus = '체크인대기' and b.booker = #{name} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==3">b.bookStatus = '체크인완료' and b.booker = #{name} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==4">b.bookStatus = '체크아웃완료' and b.booker = #{name} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==5">rb.breakfast = 1 and b.booker = #{name} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==6">d.resno is not null and b.booker = #{name} and b.bookdate = TO_DATE(#{fromDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                        </choose>
                    </if>
                </if>
                <if test="fromDate != '' and toDate != ''">
                    <if test="roomNum == 0 and name == ''">
                        <choose>
                            <when test="listType==1">b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==2">b.bookStatus = '체크인대기' and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==3">b.bookStatus = '체크인완료' and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==4">b.bookStatus = '체크아웃완료' and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==5">rb.breakfast = 1 and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==6">d.resno is not null and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                        </choose>
                    </if>
                    <if test="roomNum != 0 and name == ''">
                        <choose>
                            <when test="listType==1">rb.roomNo = #{roomNum} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==2">b.bookStatus = '체크인대기' and rb.roomNo = #{roomNum} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==3">b.bookStatus = '체크인완료' and rb.roomNo = #{roomNum} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==4">b.bookStatus = '체크아웃완료' and rb.roomNo = #{roomNum} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==5">rb.breakfast = 1 and rb.roomNo = #{roomNum} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==6">d.resno is not null and rb.roomNo = #{roomNo} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                        </choose>
                    </if>
                    <if test="roomNum == 0 and name != ''">
                        <choose>
                            <when test="listType==1">b.booker = #{name} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==2">b.bookStatus = '체크인대기' and b.booker = #{name} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==3">b.bookStatus = '체크인완료' and b.booker = #{name} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==4">b.bookStatus = '체크아웃완료' and b.booker = #{name} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==5">rb.breakfast = 1 and b.booker = #{name} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null and d.resno is not null</when>
                            <when test="listType==6">d.resno is not null and b.booker = #{name} and b.bookdate between TO_DATE(#{fromDate}, 'YY/MM/DD') and TO_DATE(#{toDate}, 'YY/MM/DD') and b.bookNo is not null</when>
                        </choose>
                    </if>
                </if>
            </if>
        </where>
    </select>
</mapper>