<!DOCTYPE html>
<html  lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>J.H.H.L</title>
</head>
<body>
    <div id= "aside"> 
        <div id="inmenu">
          <h3 id="tit">고객문의</h3><br>
          <ul id="menu">
            <li id="m1first"><a href="/MenuContact.html" id="subh">연락처</a></li><br> 
            <li id="m2last"><a href="/MenuReport.html" id="subh">문의하기</a></li>
          </ul>   
        </div>
      </div>
</body>
</html>