<!DOCTYPE html>
<html  lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>J.H.H.L</title>
  <style>
   
  </style>
</head>
<body>
    <div id="headerAndnav" class="navbar navbar-expand-sm">
        <div id="header">
          <ul class="navbar-nav hd">
            <li class="nav-item" id="liLine">
              <a class="nav-link" href="#" id="textcolor">로그인</a>
            </li>
            <li class="nav-item" id="liLine">
              <a class="nav-link" href="#" id="textcolor">회원가입</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" id="textcolor">예약.주문확인</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">객실</a></li>
                <li><a class="dropdown-item" href="#">다이닝</a></li>
                <li><a class="dropdown-item" href="/hotel/luxuryhall">명품관</a></li>
              </ul>
            </li>
            <li id="google_translate_element" class="nav-item dropdown">
            </li>
          </ul>
          <span id="colorchange"><input type="checkbox" class="dark-mode" onclick="darkmode()" id="dark-checkbox">다크모드</span>
        </div>
        <div id="nav1">
          <ul class="navbar-nav navul1">
            <li class="nav-item" id="i1">
              <a class="nav-link" href="/hotel/hotelintroduce" id="textcolor">호텔소개</a>
            </li>
            <li class="nav-item" id="i2">
              <a class="nav-link" href="#" id="textcolor">예약</a>
            </li>
          </ul>
        </div>
        <div id="div_logo">
          <div id="logo">
            <a href="/hotel/main"><img src="/img/logo.png" id="logoImg" alt="로고"></a>
          </div>
        </div>
        <div id="nav2">
          <ul class="navbar-nav navul2">
            <li class="nav-item" id="i3">
              <a class="nav-link" href="/hotel/luxuryhall" id="textcolor">명품관</a>
            </li>  
            <li class="nav-item dropdown" id="i4">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" id="textcolor">고객문의</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/hotel/contact">고객문의</a></li>
                <li><a class="dropdown-item" href="/hotel/howtocome">오시는길</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="media-dropdown">
          <i id="drop_icon" class="fa-solid fa-bars dropdown" data-bs-toggle="dropdown">
          </i>
            <ul class="dropdown-menu dropdown-menu-end" id="dropdownbar">
              <li><a class="dropdown-item" href="#">로그인</a></li>
              <li><a class="dropdown-item" href="#">회원가입</a></li>
              <hr>
              <li><a class="dropdown-item" href="#">예약</a></li>
              <li><a class="dropdown-item" href="#">예약.주문조회</a></li>
              <li><a class="dropdown-item" href="/hotel/luxuryhall">명품관</a></li>
              <hr>
              <li><a class="dropdown-item" href="/hotel/hotelintroduce">호텔소개</a></li>
              <li><a class="dropdown-item" href="/hotel/howtocome">오시는길</a></li>
              <li><a class="dropdown-item" href="/hotel/contact">고객문의</a></li>
            </ul>
        </div>
      </div>

      <script>
        
      </script>
</body>
</html>